{% extends 'layout.html' %} {% block title %}
<h1>Home</h1>{% endblock %} {% block content %}
<div class="container">
    <div class="col-md-8">
        <h3>Welcome, {{name}}</h3>
    </div>
    <div class="col-md-4 text-right">
        <a href="{{url_for('home')}}">Home</a>   
    </div>  <div class="col-md-4 text-right">
        <a href="{{url_for('profile')}}">Account</a>   
    </div> <div class="col-md-4 text-right">
        <a href="{{url_for('logout')}}">logout</a>
    </div>
</div><!-- /container -->
<hr />
<link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">

<body>
    <div>
        <h1>Green Grams Forecasting</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}" method="post">
            <input type="text" name="julyrain" placeholder="July Rain(mm)" required="required" />
            <input type="text" name="augtemp" placeholder="Aug Temp" required="required" />
            <input type="text" name="Septmin" placeholder="Sept Min Temp" required="required" />
            <input type="text" name="octsunshine" placeholder="Sunshine Hours in October" required="required" />
            <input type="text" name="NovHumidity" placeholder="November Relative Humidity" required="required" />
            <input type="text" name="ExcessWater" placeholder="Excess Water (mm)" required="required" />
            <input type="text" name="Evasportanspiration" placeholder="Evasportanspiration (mm)" required="required" />


            <button type="submit" class="btn btn-primary btn-block btn-large">Predict Yield</button>
        </form>

        <br>
        <br>

        <div class="card level-3">
            <h5>{{ prediction_text }}</h5>
        </div>
    </div>


</body>
{% endblock %}