{% extends 'logged_user_layout.html' %}

{% block optionalStyle %}
    <link rel="stylesheet" href="/static/navigation_body.css">
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <div class="title-list d-flex">
                    <span>JR - July Rain</span>
                    <span>AT - August Temp</span>
                    <span>SMT - September Minimum Temperature</span>
                    <span>OSH - October Sunshine Hours</span>
                    <span>NRH - November Relative Humidity</span>
                    <span>EW - Excess Water</span>
                    <span>Ev - Evasportanspiration</span>
                </div>
                <hr>
            </div>

                <div class="table-responsive">
                    <table class="table table-striped dtTable">
                        <thead>
                            <tr>
                                <th>JR</th>
                                <th>AT</th>
                                <th>SMT</th>
                                <th>OSH</th>
                                <th>NRH</th>
                                <th>EW</th>
                                <th>Ev</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>

        </div>
    </div>
{% endblock %}

