{% extends 'logged_user_layout.html' %}

{% block content %}
    <form action="{{ url_for('profileupdate') }}" class="medium-form mt-3 align-form-center" method="post">
        <div class="mb-2">
            <label for="email" class="fw-bold">Email</label>
            <input type="email" name="email" id="email" placeholder="johndoe@domain.com"
                   required="required" class="form-control disabled" value="{{ email }}">
        </div>
        <div class="mb-2">
            <label for="name" class="fw-bold">Name</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="John Doe"
                   required="required" value="{{ name }}">
        </div>
        <div class="mb-2">
            <label for="phone" class="fw-bold">Phone Number</label>
            <input type="tel" name="phone" id="phone" class="form-control" placeholder="254719600741"
                   required="required" value="{{ phone }}">
        </div>
        <div class="mb-2">
            <button class="btn btn-success">Update Changes</button>
        </div>
    </form>

{% endblock %}
